# -----------------------------
# Jupyter Notebooks
# -----------------------------
# This folder is created by Jupyter automatically and should NEVER be pushed
.ipynb_checkpoints/

# -----------------------------
# Ignore Data Files
# -----------------------------
data/
dataset/
datasets/
*.csv
*.tsv
*.json
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.tiff
*.bmp
*.gif
*.npz
*.npy
*.hdf5

# -----------------------------
# Ignore Model Files
# -----------------------------
saved_models/
models/
checkpoints/
*.h5
*.pkl
*.pt
*.onnx
*.ckpt
*.keras

# -----------------------------
# Ignore Virtual Environments
# -----------------------------
.venv/
venv/
ENV/
env/

# -----------------------------
# Ignore Python Cache
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Ignore IDE / Editor Files
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# Ignore Logs & Secrets
# -----------------------------
*.log
.env
.streamlit/secrets.toml

# -----------------------------
# Ignore Temp
# -----------------------------
*.DS_Store